body{
    text-align: justify;
    padding: 0.5%;
} 

.centered{
    text-align: center;
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.title{
    margin-bottom: 10%;
}