<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>MSP-2 OCR</title>
</head>

<body>

    <div class="container ">
        <div class="row">
            <div class="col-12 align-self-center title">
                <h1 class="centered">MSP2 OCR</h1>

            </div>
        </div>

        <h3>Digitalize your HW assignments</h3>
        <p>Enter your HW image URL</p>
        <form action="/comment/new" method="post">
            <!-- <input type="textarea" value="Commentaire" />  -->

            <div class="form-group">
                <input name="comment" type="text" class="form-control" aria-describedby="emailHelp"
                    placeholder="HW image URL here">
            </div>

            <!-- <input type="text" name="comment" placeholder="Url de l'image"> -->
            <button class="btn btn-primary" type="submit">Send HW</button>

        </form>
    </div>
</body>

</html>